AWS_REGION=us-east-1

USERS_TABLE=Users
INTEGRATIONS_TABLE=Integrations
BUSY_BLOCKS_TABLE=BusyBlocks
DAILYFLOW_CALENDER_TABLE=DailyFlowCalender

COGNITO_USER_POOL_ID=us-east-1_your_user_pool_id
COGNITO_APP_CLIENT_ID=your_cognito_app_client_id

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=https://production.d2hysw41mze4hw.amplifyapp.com
